<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row col-6 offset-3 mb-3">
        <h3>Create a new Listing</h3>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Enter title" name="listing[title]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please fill the Description
                    </div>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image url</label>
                    <input type="file" placeholder="enter image url" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" placeholder="enter price" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">
                        Please fill the price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="enter location" name="listing[location]" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill the location
                        </div>
                    </div>
                </div>
                <div class="mb-3" >
                    <label for="country" class="form-label">country</label>
                    <input type="text" placeholder="enter country" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter the country.
                    </div>
                </div>
            <button class="add-btn btn btn-primary offset-3">ADD</button>
        </form>
    </div>
</body>